BIKEBERI_APP_NAME=BikeBeri service app
BIKEBERI_HOST=127.0.0.1
BIKEBERI_PORT=8000
PORT=8000
BIKEBERI_SECRET_KEY=change-this-secret-key
BIKEBERI_COOKIE_SECURE=false
BIKEBERI_GUEST_MODE=false
BIKEBERI_GUEST_USERNAME=guest
